@use 'sass:math';

@import '../variables/variables';
@import '../mixins/mixins';


header {
    background-color: $black;
    color: $white;
    
    nav {
        a:not(.btn) {
            color: $white;
        }
    }

    .menu-item.active {
        &::after {
            background-color: $white;
        }
    }

    @include sm {
        .sm-nav {
            .navbar-toggler {
                background-color: transparent !important;

                span {
                    background-image: url('/src/components/header/media/hamburger.svg');
                }
            }

            .navbar-collapse {
                background-color: $mid;

                .nav-link {
                    color: $white !important;
                }
            }
        }
    }
}

.bg-light, .bg-mid, .bg-dark {
    a {
        color: inherit;
    }

    .button-primary {
        background-color: transparent;
    }
}

.bg-light {
    background-color: $white !important;
    color: $black !important;

    a {
        &:not([class]) {
            &::after {
                background-color: $black;
            }

            &:hover {
                color: $white;
            }
        }
    }

    .button-primary {
        &:hover {
            border-color: $black;
            background-color: $black;
            color: $white;
        }
    }

    .button-secondary {
        &::after {
            background-color: $black;
        }
    }
}

.bg-mid {
    background-color: $mid !important;
    color: $white !important;

    a {
        &:not([class]) {
            &::after {
                background-color: $white;
            }

            &:hover {
                color: $black;
            }
        }
    }

    .button-primary {
        &:hover {
            border-color: $white;
            background-color: $white;
            color: $black;
        }
    }

    .button-secondary {
        &::after {
            background-color: $white;
        }
    }
}

.bg-dark {
    background-color: $black !important;
    color: $white !important;

    a {
        &:not([class]) {
            &::after {
                background-color: $white;
            }

            &:hover {
                color: $black;
            }
        }
    }

    .button-primary {
        &:hover {
            border-color: $white;
            background-color: $white;
            color: $black;
        }
    }

    .button-secondary {
        &::after {
            background-color: $white;
        }
    }
}