html {
  scroll-behavior: smooth;
}

body {
  background-color: #fdfeff;
}

.navbar {
  background-color: #313332;
}
.navbar-logo {
  width: 75px;
}
.container {
  max-width: 95%;
  text-align: center;
}

.menu {
  display: block;
  margin: 0 auto;
}
.contact-img {
  width: 100px;
}
