html {
  scroll-behavior: smooth;
}

body {
  background-color: #e2e2e0;
}
ul {
  padding: 0;
}
li {
  display: inline;
  margin-right: 20px;
}
footer {
  max-width: 98%;
}
h6 {
  font-weight: lighter;
  font-size: xx-small;
  color: lightgray;
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: right;
}

.navbar {
  background-color: #313332;
}
.navbar-logo {
  width: 75px;
}
.md-container {
  margin: 10%;
  text-align: center;
}

.contact-img {
  width: 100px;
}
.content-img {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
}
.menu-item {
  text-decoration: underline;
}

.open-source-link {
  text-decoration: none;
  color: #5fa1d3;
}

@media (min-width: 576px) {
  header {
    display: none;
  }
  .md-container {
    display: none;
  }
  .lg-container {
    margin: 30px;
  }
  .nav-set {
    margin: 30px;
  }
  .links {
    float: right;
    margin-right: 20px;
  }
  .page-contents {
    margin-left: 175px;
    max-width: 45%;
  }
}
