:root {
  --heading-font: "Marmelad", sans-serif;
  --content-font: "Open Sans", sans-serif;
  --accent-color: #313332;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

body {
  background-image: url("/media/cinnamon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: var(--content-font);
}
h1,
h2,
h4,
h5,
button,
nav {
  font-family: var(--heading-font);
}

h5 {
  font-size: 15px;
}
ul {
  text-decoration: none;
}
li {
  list-style: none;
}

h6 {
  font-weight: lighter;
  font-size: xx-small;
  color: var(--accent-color);
  margin-top: 10px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: right;
  color: white;
}
footer {
  max-width: 98%;
}

.navbar-logo {
  width: 75px;
}
.navbar-title {
  width: 50%;
  color: white;
}
.navbar-toggler {
  margin-right: 7px;
}
.colombo-7 {
  font-size: 40px;
  margin-bottom: 0px;
}

.page-contents {
  margin: 0px 30px 0px 30px;
  color: black;
}
.sm-margin {
  margin-top: 150px;
}

.home-img {
  width: 100%;
}

.col-background {
  background-color: rgb(226, 226, 224, 0.8);
  padding-top: 10px;
}
.button:hover {
  text-decoration: none;
}
.menu-item {
  text-decoration: underline;
}
.contact-title {
  margin-top: 40vw;
}
.contact-title,
.contact-text {
  color: white;
}
.contact-link {
  color: var(--accent-color);
  font-size: 15vw;
  color: white;
}
.contact-link:hover {
  transition: 1.25s;
  transform: rotateZ(360deg);
}
.fa-facebook-square:hover {
  color: #0572e6;
}
.fa-instagram-square:hover {
  color: #c01f6a;
}
.fa-whatsapp-square:hover {
  color: #35bb48;
}
.fa-envelope-square:hover {
  color: #ac2f20;
}

.open-source-link,
.open-source-link:hover {
  color: #5fa1d3;
}

@media (max-width: 420px) {
  .navbar-title {
    display: none;
  }
  .xs-company-name {
    display: block !important;
    margin-bottom: 25px;
    text-align: center;
  }
  .contact-title {
    padding-top: 5vh;
  }
}
@media (min-width: 768px) {
  header {
    display: none;
  }

  h5 {
    font-size: 1.6vw;
  }

  .lg-logo {
    width: 100px;
    margin: 10px;
  }
  .lg-navbar {
    position: relative;
    float: right;
    margin-top: 75px;
    right: 50px;
  }

  .opening-times {
    position: absolute;
    right: 3%;
    margin-top: 350px;
  }
  .opening-times h4 {
    font-size: 17px;
  }

  .sm-margin {
    margin-top: 0px;
  }

  .page-title {
    margin-top: 50px;
    font-size: 75px;
  }
  .page-contents {
    margin-left: 50px;
    margin-right: 50px;
  }

  .lg-company-name {
    width: 22%;
  }
  .colombo-7 {
    font-size: 4vw;
  }
  .lg-company-p {
    width: 23%;
    margin-top: 100px;
  }
  .content-img {
    width: 65%;
    display: block;
    margin: 0 auto;
  }

  .menu-nav {
    padding-top: 70px;
    position: fixed;
    float: left;
  }

  .contact-title,
  .contact-text {
    text-align: center;
  }
  .contact-icon-wrap {
    padding-top: 50px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    right: 20px;
  }
  .open-source-link,
  .open-source-link:hover {
    color: #3edce0;
  }
}
@media (min-height: 1000px) {
  .lg-company-name {
    margin-top: 10vh;
  }
  .contact-title {
    margin-top: 30vh;
  }
}
